<!DOCTYPE html>
<html lang="en" <% if (htmlWebpackPlugin.options.env === 'production') { %>manifest="application.manifest"<% } %>>

<head>
  <meta charset="UTF-8">
  <title>ICNDB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico"/>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"/>
</head>

<body>
  <app></app>
  <div id="content">loading ...</div>
</body>
</html>
